/* * {
    margin: 0;
} */

.outer {
    display:flex;
    justify-content: space-evenly;
}

.flip-box {
    background-color: transparent;
    width: 256px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d; 
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    letter-spacing: 0.05em;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: #ADD9D0;
    color: white;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: #75A38D;
    color: white;
    transform: rotateY(180deg);
  }
/* Logo */
  img {
      width: 280px;
      margin-left: 40%;

  }

  /* ICONS */

  .devicon-javascript-plain{
      width: 3em;
      height: 3em;
  }

  .deckButton{
    margin-top: 110%;
    width: 70%;
    border-radius: 8px;
    background-color: #E25B45;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }
  .card-outer {
    display:flex;
    flex-direction: column;
    /* align-content: center;
    justify-content: space-evenly; */
    /* flex-flow: column wrap; */
  }
  /* This is for input card that belong to deck chosen */
  .card-box {
    background-color: transparent;
    width: 600px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    justify-content: center;
    flex-flow: column wrap;
  }
  
  /* This container is needed to position the front and back side */
  .card-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    
  }
  
  /* Do an horizontal card when you move the mouse over the card box container */
  .card-box:hover .card-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card-box-front, .card-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    letter-spacing: 0.05em;
  }
  
  /* Style the front side */
  .card-box-front {
    background-color: #ADD9D0;
    color: white;
  }
  
  /* Style the back side */
  .card-box-back {
    background-color: #75A38D;
    color: white;
    transform: rotateY(180deg);
  }
  .submitButton, .nextCardButton{
        /* margin-top: 50%; */
        height:30%;
        width: 50%;
        border-radius: 8px;
        background-color: #E25B45;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

      }
.textInput{
  color:black;
  font-size: 16px;
}
/* .giphy{
  width:auto;
  height:auto;
  justify-content: center;
}
.gifDiv{
  display: flex;

} */
/* FIRST DELETE BUTTON */
.delete-button1 {
  background-image: url("images/trash.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 34px;
  }

  /* SECOND DELETE BUTTON */

.delete-button {
background-image: url("images/trash.svg");
background-repeat: no-repeat;
width: 38px;
height: 40px;
}
.giphy1 {
  display: flex;
}

.style-gif {
  width: 100%;
  /* height: auto;  */
  display: block;
  margin-left: auto;
  margin-right: auto;



}